<p>{{skillForm.value | json}}</p>
<p>{{skillForm.status | json}}</p>



<div class="row">

  <div class="col-2"></div>

  <div class="col-8">


    <form [formGroup]="skillForm" (submit)="onSubmit()">
      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Skill name</label>
        <div class="col-10">
          <input class="form-control" type="text" id="skillName" placeholder="Skill Name" formControlName="SkillName" (blur)="skillNameValidate('warning', 'SkillName is required. Minimum length is 3, maximum length 50 characters')">

          <!--<small class="text-danger" *ngIf="skillForm.controls.SkillName.touched && skillForm.controls.SkillName.errors?.required">
            Skill name is required</small>-->

        </div>
      </div>

      
      <div class="form-group row float-right">
        <div class="col-12">
          <button class="btn btn-primary" type="submit" [disabled]="skillForm.invalid">Submit</button>
        </div>
      </div>
    </form>

  </div>

  <div class="col-2"></div>

</div>

