<div class="container">
  <div class="container">
    <div class="row" style="background-color:rgb(243, 237, 237)">
      <div class=col-4></div>
      <div class=col-4>
        <h1>Users details </h1>
      </div>
      <div class=col-4></div>
    </div>
  </div>
  <div class="container">
    <div class="row">

        <div class="col-2" style="background-color: rgb(248, 244, 244)">
          <img [src]="photoToShow" class="img-fluid rounded-circle " alt="Place image title"
            *ngIf="!isPhotoLoading; else noPhotoFound">
          <ng-template #noPhotoFound>
            <img src="../../../assets/image/NoPhotoIcon.png" class="img-fluid rounded-circle " alt="user.Name">
          </ng-template>


          <p class="ui-description" style="display:none"><strong>Edit user:</strong> <a href="...">Edit-page</a>

        </div>
      

        <div class="col-10" style="background-color: rgb(238, 227, 227)">
          <div class="row">
            <label>&nbsp; &nbsp;Name:</label>
            <p><b>&nbsp; &nbsp; {{user.Name}}</b></p>
          </div>
          <div class="row">
            <label>&nbsp; &nbsp;Email: </label> <p>&nbsp; &nbsp; {{user.Email}}</p>
          </div>
          <div class="row">
            <label>&nbsp; &nbsp;Password: </label>
            <p>&nbsp; &nbsp; {{user.Password}}</p>
          </div>
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th><b>&nbsp; &nbsp; Skills</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let skill of user?.Skills">

                  <td>&nbsp; &nbsp; - {{skill.SkillName}} </td>

                </tr>

              </tbody>
            </table>

          </div>

        </div>
      
      
    </div>
  </div>





















<!--
<img src="http://www.indirapuramschool.com/school-admin/uploads/staff/1547125466.jpg" alt="" width="220" height="140"
  class="entry-image">

<figure class="ph" data-loadfile="img/content_ph02.jpg"
  style="background-image: url(&quot;https://japanese-languageschool.com/teacher/img/content_ph02.jpg&quot;);"></figure>



<table>

  <tbody>
    <tr></tr>
    <tr>
      <td><b>Name: </b></td>
      <td>Mr. Ajay Dobhal </td>
    </tr>
    <tr>
      <td><b>Qulification: </b></td>
      <td>M.C.A, P.HD, NIIT, O Level </td>
    </tr>
    <tr>
      <td><b>Classes Taken: </b></td>
      <td>X,VIII,IX,XI,XII </td>
    </tr>
    <tr>
      <td><b>Subject: </b></td>
      <td>Computer </td>
    </tr>
    <tr>
      <td><b>Designation: </b></td>
      <td>Sr. Coordinator </td>
    </tr>

  </tbody>
</table>
-->
