<form class="form-inline" [formGroup]="searchFormByEmail" (submit)="searchByEmail()" *ngIf="flagEmail">

  <input type="text" class="form-control col-sm-4" id="inlineFormInput" placeholder="Search by Email"
    formControlName="controlByEmail">

  <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
</form>


<form class="form-inline" [formGroup]="searchFormBySkill" (submit)="searchBySkill()" *ngIf="flagSkill">

  <input type="text" class="form-control col-sm-4" id="inlineFormInput" placeholder="Search by Skill"
    formControlName="controlBySkill">

  <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
</form>