<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <us-filter [flagSkill]="flagSkill" (onSearchBySkill)="searchBySkill($event)"></us-filter>
    </div>
    <div class="col-2"></div>
  </div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th class="text-center" colspan="4">
            SkillName
            <button class="btn btn-link" (click)="onSort('SkillName')"><i class="fa fa-sort"></i></button>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let skill of skills?.Items">
          <td class="text-center" colspan="4" (click)="onDetails(skill)">{{skill.SkillName}}</td>
          <td><button class="btn btn-link" (click)="onDelete(skill.SkillId)"><i class="fa fa-remove"></i></button></td>
          <td><button class="btn btn-link" [routerLink]="['/skills/', skill.SkillId]"><i
                class="fa fa-edit"></i></button></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
  </div>
  <div class="col-2"></div>
</div>