<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" (blur)="emailValidate('warning', 'Email is required. Use email@email.com pattern.')"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <!--<div *ngIf="f.username.errors.required">Email is required</div>-->
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" (blur)="passwordValidate('warning', 'Password is required. Password must contain minimum 8 characters including upper letters and nonalphanumeric.')"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <!--<div *ngIf="f.password.errors.required">Password is required</div>-->
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Login</button>
          <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
    <div class="col-4">  </div>
  </div>
</div>