<div class="container">
  <div class="container">
    <div class="row" style="background-color:rgb(243, 237, 237)">
      <div class=col-4></div>
      <div class=col-4>
        <h1>Skill details </h1>
      </div>
      <div class=col-4></div>
    </div>
  </div>
  <div class="container">
    <div class="row">

        
      

        <div class="col-12" style="background-color: rgb(238, 227, 227)">
          <div class="row">
            <label>&nbsp; &nbsp;Skill name:</label>
            <p><b>&nbsp; &nbsp; {{skill.SkillName}}</b></p>
          </div>
         
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th><b>&nbsp; &nbsp; Users</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of skill?.Users">

                  <td>&nbsp; &nbsp; - {{user.Name}} </td>

                </tr>

              </tbody>
            </table>

          </div>

        </div>
      
      
    </div>
  </div>























