<nav class="navbar navbar-expand-sm navbar-light bg-light">

	<a class="navbar-brand" routerLink="/home" routerLinkActive="active" >Users & Skills</a>

	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    
    <li class="nav-item">
			<a class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" routerLink="users/add" routerLinkActive="active">Add user</a>
    </li>	
    
    <li class="nav-item">
			<a class="nav-link" routerLink="skills/add" routerLinkActive="active">Add skill</a>
		</li>	
	</ul>

	<ul class="navbar-nav ml-auto">   
		<li class="nav-item">
			<a class="nav-link" routerLink="login" routerLinkActive="active">Login/Register</a>
		</li>
	</ul>
</nav>