<p>{{ registerUserForm.value | json}}</p>
<p>{{ registerUserForm.status | json}}</p>
<div class="container">
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<h1>Register</h1>
			<form [formGroup]="registerUserForm" (submit)="onSubmit()">


				<div class="form-group row">
					<div class="col-sm-8">
						<label for="email">Email</label>
						<input class="form-control" type="email" name="email" id="email" placeholder="Email"
							formControlName="email" (blur)="emailValidate('warning', 'Email is required. Use email@email.com pattern.')">

						<!--<small
							*ngIf="registerUserForm.controls.email.touched && registerUserForm.controls.email.errors?.required"
							class="text-danger">Email is required</small>

						<small
							*ngIf="registerUserForm.controls.email.touched && !registerUserForm.controls.email.errors?.required && registerUserForm.controls.email.errors?.email"
							class="text-danger">Email is invalid</small>-->
					</div>
				</div>

				<div class="form-group row">

					<div class="col-sm-8">
						<label for="password">Password</label>
						<input class="form-control" type="password" name="password" id="password" placeholder="Password"
							formControlName="password" (blur)="passwordValidate('warning', 'Password is required. Password must contain minimum 8 characters including upper letters and nonalphanumeric.')">

						<!--<small
							*ngIf="registerUserForm.controls.password.touched && registerUserForm.controls.password.errors?.required"
							class="text-danger">Password is required</small>

						<small
							*ngIf="registerUserForm.controls.password.touched && registerUserForm.controls.password.errors?.minlength"
							class="text-danger">Minimal password length is 8</small>-->
					</div>
				</div>

				<div class="form-group row">

					<div class="col-sm-8">
						<label for="password">Confirm password</label>
						<input class="form-control" type="password" name="confirmPassword" id="cPassword"
							placeholder="Confirm password" formControlName="confirmPassword" (blur)="confirmPasswordValidate('warning', 'Confirm password is required.')">

						<!--<small
							*ngIf="registerUserForm.controls.confirmPassword.touched && registerUserForm.controls.confirmPassword.errors?.required"
							class="text-danger">Confirm assword is required</small>

						<small
							*ngIf="registerUserForm.controls.confirmPassword.touched && registerUserForm.controls.confirmPassword.errors?.minlength"
							class="text-danger">Minimal password length is 8</small>-->
					</div>
				</div>

				<div class="form-group row float-center">
					<div class="col">
						<button class="btn btn-primary" type="submit"
							[disabled]="registerUserForm.invalid">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-3"></div>
	</div>
</div>