<div class="container-fluid">

  <div class="row">
    <div class="col">
      <us-header></us-header>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <us-navbar></us-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <notifier-container></notifier-container>
</div>


