<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <us-filter [flagEmail]="1" (onSearchByEmail)="searchByEmail($event)" ></us-filter>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">

    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>
            Name
            <button class="btn btn-link" (click)="onSort('Name')"><span class="fa fa-sort"></span></button>
          </th>
          <th>
            Email
            <button class="btn btn-link" (click)="onSort('Email')"><span class="fa fa-sort"></span></button>
          </th>
          <th>
            Password
            <button class="btn btn-link" (click)="onSort('Password')"><span class="fa fa-sort"></span></button>
          </th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let user of users" >
          <td (click)="onDetails(user)">{{user.Name}}</td>
          <td (click)="onDetails(user)">{{user.Email}}</td>
          <td (click)="onDetails(user)">{{user.Password}}</td>
          <td><button class="btn btn-link" (click)="onDelete(user.UserId)"><span class="fa fa-remove"></span></button></td>
          <td><button class="btn btn-link"   [routerLink]="['/users/', user.UserId]"><span class="fa fa-edit"></span></button></td>
          
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <us-paging [collectionSize]="count" (onPageSelected)="onPageSelected($event)"></us-paging>
    </div>
    <div class="col-2"></div>
</div>