<h1 *ngIf="flag">Hi {{cU}}!</h1>
<p *ngIf="flag">You're logged in Users&Skills</p>
<p *ngIf="!flag">You're logged out from Users&Skills</p>
<!--
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
-->

<div class="form-group" >
  <button *ngIf="flag" class="btn btn-primary" (click)="onLogout($event)">Logout</button>
</div>